/* variables */
:root {
    --black: rgb(23, 23, 23);
    --white: rgb(248, 246, 246);
    --grey: rgb(128, 128, 128);
    --dark-grey: rgb(57, 57, 57);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--white);
  scroll-behavior: smooth;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;

}

.status {
    display: flex;
}

.shop-map {
    display: flex;
    justify-content: space-between;
}

/* set button 100% width */
.btn {
    width: 100%;
    padding: 0.5rem 0;
}

.right {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 1rem;
}

#video-dice {
    background-color:antiquewhite;
}

#flight-protocol {
    background-color: antiquewhite;
}

.fly {
    position: absolute;
    bottom: 0;
}

