/* variables */
:root {
    --black: rgb(23, 23, 23);
    --white: rgb(248, 246, 246);
    --grey: rgb(128, 128, 128);
    --dark-grey: rgb(57, 57, 57);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--white);
  scroll-behavior: smooth;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;

}

.status {
    display: flex;
}

.shop-map {
    display: flex;
    justify-content: space-between;
}

/* set button 100% width */
.btn {
    width: 100%;
    padding: 0.5rem 0;
}

.right {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 1rem;
}

#video-dice {
    background-color:antiquewhite;
}

#flight-protocol {
    background-color: antiquewhite;
}

.fly {
    position: absolute;
    bottom: 0;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
