<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    {#    <link rel="stylesheet" href= {{ url_for('static', filename='css/credits.css') }}>#}
    <link rel="stylesheet" href='static/css/credits.css'>
</head>
<body>
<main>
    <div id="wrapper">
        <div class="pd credit green"><h2>CREDIT</h2></div>
        <div class="pd title blue"><h3>Project Manager</h3></div>
        <div class="pd name white"><h4>Vitalii</h4></div>
        <div class="pd title blue"><h3>Developers</h3></div>
        <div class="pd name white"><h4>Sheng</h4></div>
        <div class="pd name white"><h4>Loc</h4></div>
        <div class="pd name white"><h4>Thien</h4></div>
        <div class="pd name white"><h4>Vitalii</h4></div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const creditWrapper = document.getElementById("wrapper");
        creditWrapper.classList.add("credit-visible");
    });
</script>

</body>
</html>