<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/game.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

</head>
<body>

<div id="page">
    <div id="main-section-left">
        <div id="top-bar">
            <div id="shutdown">
                <img src="../static/img/power-button-icon.png" alt="" id="power-btn">
            </div>
            <div id="status">
                <div class="status-text-container">
                    <p>Name</p>
                    <p id="status-name"></p>
                </div>
                <div class="status-text-container">
                    <p>Money</p>
                    <p id="status-money"></p>
                </div>
                <div class="status-text-container">
                    <p>Fuel</p>
                    <p id="status-fuel"></p>
                </div>
                <div class="status-text-container">
                    <p>Emission</p>
                    <p id="status-emission"></p>
                </div>
                <div class="status-text-container">
                    <p>Time</p>
                    <p id="status-time"></p>
                </div>
            </div>
        </div>
        <div id="panel">
            <div id="panel-top">
                <div id="panel-btn-container">
                    <button id="btn-shop" class="btn">SHOP</button>
                    <button id="btn-map" class="btn">MAP</button>
                    <button id="btn-hall" class="btn">HALL</button>
                </div>
            </div>
            <div id="panel-display">
                <div id="map"></div>
                <!-- shop and hall -->
                <div id="shopDiv">
                    <div id="shop-main-background"></div>
                    <div id="shop-board-container">
                        <img src="../static/img/board.jpeg" id="shop-board-background" alt="">
                        <div id="shop-item-container">
                            <div id="shop-item-fuel">
                                <label for="shop-item-fuel-input">Fuel: €1/ton</label>
                                <input type="text" id="shop-item-fuel-input">
                                <button id="shop-item-fuel-btn" class="btn2 ">BUY</button>
                            </div>
                            <div id="shop-item-coffee">
                                <label for="shop-item-coffee-input">Coffee: €2/cup</label>
                                <input type="text" id="shop-item-coffee-input">
                                <button id="shop-item-coffee-btn" class="btn2 ">BUY</button>
                            </div>
                            <div id="shop-item-airport">
                                <p>Open my airport €20 000</p>
                                <button id="shop-item-airport-btn" class="btn2 ">BUY</button>
                            </div>
                        </div>
                    </div>
                    <div id="shop-dialogue-bubble">
                        <div id="shop-dialogue-background">
                            <img src="../static/img/bubble.png" alt="">
                        </div>
                        <div id="shop-dialogue-text-container">
                            <p id="shop-dialogue-text"></p>
                        </div>
                    </div>
                </div>
                <div id="hallDiv">
                    <div id="hall-main-background"></div>
                    <div id="hall-board-container">
                        <img src="../static/img/board.jpeg" id="hall-board-background" alt="">
                        <div id="hall-item-container">
                            <div id="hall-item-hire">
                                <button id="hall-item-hire-btn" class="btn2">Hire someone else (€600)
                                </button>
                            </div>
                            <div id="hall-item-dice">
                                <button id="hall-item-dice-btn" class="btn2">Unload cargo myself</button>
                            </div>
                        </div>
                    </div>
                    <div id="hall-dialogue-bubble">
                        <div id="hall-dialogue-background">
                            <img src="../static/img/bubble.png" alt="">
                        </div>
                        <div id="hall-dialogue-text-container">
                            <p id="hall-dialogue-text"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="main-section-divider"></div>
    <div id="main-section-right">
        <div id="monitor">
            <p id="monitor-txt"></p>
        </div>
        <div id="monitor-flight-divider"></div>
        <div id="flight">
            <div id="flight-text-container">
                <!-- flight text here -->
                <h1><i>Flight Protocol</i></h1>
                <h2 id="flight-country-name">Unknown</h2>
                <h2 id="flight-airport-name">Unknown</h2>
                <p id="flight-fuel">Fuel: N/A</p>
                <p id="flight-time">Time: N/A</p>
                <p id="flight-emission">Emission: N/A</p>
                <p id="flight-reward">Reward: N/A</p>
            </div>
            <div id="fly-btn-container">
                <button id="btn-fly" class="btn2">FLY</button>
            </div>
            <div id="stamp"></div>
        </div>
    </div>
</div>


<script src="../static/js/game.js"></script>
</body>
</html>